
.resume{
    background-color: beige;
    display: flex;
    text-align: center;
}

header{
    background-color: rgb(136, 21, 21);
}

.copyright img{
    height: 60px;
    width: 60px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(136, 21, 21);
}

.attention{
    color: beige;
}

h1{
    background-color: rgb(172, 172, 172);
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.resum_stade{
    display: flex;
    text-align: center;
    background-color: beige;
}

